table,
td,
th,
tr {
  border: 1px solid black;
  border-spacing: 5px;
  padding: 5px;
  color: red;
  text-align: center;
}
h2,
h3,
h4 {
  color: purple;
}
header {
  background-color: #a2b5bb;
  height: 150px;
}
body {
  background-color: #cfd2cf;
}
main {
  height: 1000px;
  color: purple;
}
p {
  margin-left: 450px;
}